<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>Name: Kondybay Sultan</h1>
	<p>Description: Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Omnis natus a molestiae quidem, voluptate praesentium ipsum, itaque. Iure vel quasi a, ipsum voluptates, delectus asperiores, et accusamus deserunt impedit ducimus.</p>	
</body>
</html>