<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<ul>
		<li>Qibla Finder</li>
		<li>Halal Finder</li>
		<li>And so on</li>
	</ul>	
</body>
</html>